{% extends 'base.html' %}
{% load static %}
    
    
        {% block title %}
            <title>customerlogin</title>
        {% endblock title %}
    
        {% block content %}
        <br>
        <div class="sixthin wide column">
            <div class="ui fluid card" style="background-color: rgb(201, 224, 238);">
                <div class="content">
                    <div class="btn-group btn-group-justified">
                        <a href="{% url 'our_store:allproducts' %}" class="btn btn-primary">All Products</a>
                        <a href="{% url 'our_store:customerregistration' %}" class="btn btn-primary">Login</a>
                        <a href="{% url 'our_store:customerregistration' %}" class="btn btn-primary">Create an account</a>

                    </div>
                </div>
            </div>
        </div>
        <br>
        
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h3>Customer Login</h3>
                <hr>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">Login</button>
                {% if error %}
                <li style="color: red;">{{error}}</li>
                {% endif %}
            </form>
            <p>Forgot password?<a href="{% url 'our_store:forgotpassword' %}">Reset now</a></p>
            <p>Don't you have an account?<a href="{% url 'our_store:customerregistration' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">register here</a></p>
            </div>
        </div>
        {% endblock content %}