{% extends 'base.html' %}
{% load static %}
    
    
        {% block title %}
            <title>forgot password</title>
        {% endblock title %}
    
        {% block content %}
        <br>
        <div class="sixthin wide column">
        
        <div class="row">
            <div class="col-md-8">
                {% if request.GET.m == "s" %}
                <h3>Password reset link is sent your email address. Please check your mail box</h3>
                {% else %}
                <h3>Enter your email address.</h3>
                {% if request.GET.m == "e" %}
                <h4 class="text=danger"> Something went wrong, please your email again.</h4>
                {% endif % }
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">Get Reset Link</button>
            </form>
            {% endif %}
            </div>
        </div>
        {% endblock content %}