aiodns==3.0.0
aiosmtpd==1.4.2
asgiref==3.5.0
atpublic==3.0.1
attrs==21.4.0
blis==0.7.7
catalogue==2.0.7
certifi==2022.5.18.1
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
cryptography==37.0.2
cymem==2.0.6
decorator==5.1.1
distlib==0.3.4
Django==2.2.2
django-admin-interface==0.19.1
django-cart==1.0.4
django-colorfield==0.7.0
django-extensions==3.1.5
django-flat-responsive==2.0
django-flat-theme==1.1.4
django-phone-field==1.8.1
django-shopping-cart==0.1
django-user-agents==0.4.0
docx2txt==0.8
filelock==3.6.0
gunicorn==20.1.0
idna==3.3
install==1.3.5
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.5.1
langcodes==3.3.0
Markdown==3.3.7
MarkupSafe==2.1.1
md-resume==0.2.6
murmurhash==1.0.7
nltk==3.7
numpy==1.22.4
opencv-contrib-python==4.5.5.64
opencv-python==4.5.5.64
packaging==21.3
pandas==1.4.2
pathy==0.6.1
pdfminer.six==20220524
Pillow==9.1.0
pipenv==2022.5.2
platformdirs==2.5.1
preshed==3.0.6
psycopg2-binary==2.9.3
pycares==4.1.2
pycparser==2.21
pycryptodome==3.14.1
pydantic==1.8.2
pyparsing==3.0.9
pyresparser==1.0.6
pyrsistent==0.18.1
python-dateutil==2.8.2
python-decouple==3.6
pytz==2022.1
regex==2022.4.24
requests==2.27.1
self==2020.12.3
six==1.16.0
smart-open==5.2.1
sortedcontainers==2.4.0
spacy==3.3.0
spacy-legacy==3.0.9
spacy-loggers==1.0.2
sqlparse==0.4.2
srsly==2.4.3
thinc==8.0.16
tqdm==4.64.0
typer==0.4.1
typing-extensions==3.10.0.2
tzdata==2022.1
ua-parser==0.10.0
urllib3==1.26.9
user-agents==2.2.0
verify-email==2.4.3
virtualenv==20.14.1
virtualenv-clone==0.5.7
wasabi==0.9.1
whitenoise==6.2.0
