{% extends 'base.html' %}
{% load static %}
{% block content %}

<br/>
    {% block title %}
    <title>industries</title>
    {% endblock title %}
          <center>
          <h1>Industries</h1>
          <strong>
          </center>
          <hr>
        <div class="ui grid" style="font-size: 20px;">
          <div class="row">
            <div class="four wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
              <!--<div class="ui fluid card" style="background-color: rgb(201, 224, 238);">-->
                <div class="content">Who is RFID for?</div>
              </div>
            </div>
            <div class="eight wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
                <div class="content">
                  RFID has been adoubted by various industries in a very short space of time.
                </div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
                <div class="content"> RFID works efficient in all Industries.</div>
              </div>
            </div>
          </div>
          <br/><br/><br/><br/>
          <div class="row">
            <div class="four wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
                <div class="content">AGRICULTURE</div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
                <div class="content">HOSPITALITY</div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
                <div class="content">
                  FOOD
                </div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
                <div class="content"> LOGISTICS</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="four wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
                <div class="content">MANUFACTURING</div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
                <div class="content">MEDICAL</div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
                <div class="content">
                  PHARMACEUTICAL
                </div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
                <div class="content"> RETAIL</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="four wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
                <div class="content"></div>
              </div>
            </div>
            <div class="eight wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
                <div class="content">
                  SUPPLY CHAIN
                </div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
                <div class="content"> </div>
              </div>
            </div>
          </div>
        </div>
{% endblock content %} 


