{% extends 'base.html' %}
{% load static %}
{% block content %}

<br/>
    {% block title %}
    <title>what_we_do</title>
    {% endblock title %}
          <center>
          <h1>What We Do</h1>
          <strong>
          </center>
          <hr>
        <div class="ui grid" style="font-size: 20px;">
          <div class="row">
            <div class="four wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
              <!--<div class="ui fluid card" style="background-color: rgb(201, 224, 238);">-->
                <div class="content" style="color: white;">Increased revenues.</div>
              </div>
            </div>
            <div class="eight wide column">
              <div class="ui fluid card"style="background-color: navy ; ">
                <div class="content" style="color: white;" >
                    Take a first step in setting up a business solution that ensures a Return on Invested Capital (ROI).
                    <h2><a href="{% url 'consultation-view' %}" style="color: white">Schedule your Consultation now</a></h2>
                    
                </div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
                <div class="content" style="color: white ;">
                    Improving data accuracy and availability.
                </div>
              </div>
            </div>
          </div>
          <br/><br/><br/><br/>
          <div class="row">
            <div class="four wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
                <div class="content">We do Consultation</div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
                <div class="content">We do Integration</div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
                <div class="content">
                    We do Deployment
                </div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
                <div class="content"> We do Installation</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="four wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
                <div class="content">We do Designing</div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
                <div class="content"></div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
                <div class="content">
                   
                </div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
                <div class="content">  We do Training</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="four wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
                <div class="content"></div>
              </div>
            </div>
            <div class="eight wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
                <div class="content">
                <center>We do Support</center>    
                </div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui fluid card" style=" background-color: rgba(167, 150, 212, 0.4); ">
                <div class="content"> </div>
              </div>
            </div>
          </div>
        </div>
{% endblock content %} 


